<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rainbow Capitals</title>
  <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="16x16">
  <link rel="stylesheet" href="/assets/css/news-slider.css">
  <!-- bootstrap 4  -->
  <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
  <!-- fontawesome 5  -->
  <link rel="stylesheet" href="/assets/css/all.min.css">
  <!-- line-awesome webfont -->
  <link rel="stylesheet" href="/assets/css/line-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/vendor/animate.min.css">
  <!-- slick slider css -->
  <link rel="stylesheet" href="/assets/css/vendor/slick.css">
  <link rel="stylesheet" href="/assets/css/vendor/dots.css">
  <!-- dashdoard main css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <meta property="og:url"           content="https://www.rainbowcapital.org/" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
</head>
</head>

<body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>
  
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
  <div class="page-wrapper">
      <!-- header-section start  -->
  <header class="header">
    <div class="header__bottom">
      <div class="container">

        <nav class="navbar navbar-expand-xl p-0 align-items-center">
          <!-- <a class="navbar-brand" href="#">
            <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
          </a> -->
          <a class="navbar navbar-brand " href="/profile">
            <div class="picture">
              <%if(user.image.length>=1){%>
                <img src="data:image/<%=user.image[0].img.contentType%>;base64,
                <%=user.image[user.image.length-1].img.data.toString('base64')%>"  alt="" width="80" height="80" class="d-inline-block rounded align-text-top" >
                <%}else{%>
                  <img src="assets/images/Profile.png" height="20" width="4" alt="site-logo">
                  <%}%> 
            </div>
            
         
          
          </a>
          <ul class="account-menu mobile-acc-menu">
            <li class="icon">
              <a href="/logout"><i class="las la-user"></i></a>
            </li>
          </ul> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav main-menu m-auto">

              <li><a href="/dashboard">Your Dashboard</a></li>
              <li><a href="/transactions">Transactions</a></li>
              <li> <a href="/plan">Invest</a></li>
              <li> <a href="/payment">Payments</a></li>
              <li> <a href="/deposit">Coupon/Vendors</a></li>
              <li> <a href="/withdraw">Withdraw</a></li>
              <li><a href="/blog">News</a></li>
              <li><a href="/saving">Saving</a></li>
           
            </ul>
            <div class="nav-right">
              <ul class="account-menu ml-3">
                <li class="icon">
                  <a href="/logout"><i class="las la-user"></i></a>
                </li>
              </ul> 

            </div>
          </div> 
        </nav>
      </div>
      <!-- <div style="align-content: center; ">
        <div class="alert alert-dark"  style="text-align: center;;margin-bottom: 30px;margin-top: 30px;" role="alert">
          <h5>Error occured here</h5>
          <!-- <%=error%> -->
        </div>
      </div>
    </div><!-- header__bottom end -->
   
    
  </header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
 
      <!-- <div style="align-content: center; ">
        <div class="alert alert-dark"  style="text-align: center;;margin-bottom: 30px;margin-top: 30px;" role="alert">
          <h5>Error occured here</h5>
          <!-- <%=error%> -->
        </div>
      </div>
    </div><!-- header__bottom end -->
   
    
  </header>
  <body>


    

    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>
  
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
  <div class="page-wrapper">

    <!-- account section start -->
    <div class="account-section bg_img" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-7">
            <div class="account-card">
            
              <div class="account-card__body">
                <form action="/<%=user.username%>/deposit" method="POST" class="mt-4">
                  
                  <div class="form-group">
                    <input type="text" name="coupon" class="form-control" placeholder="Input Coupon Code" required>
                  </div>


     
                            <div class="mt-3">
                              <button class="cmn-btn" >Submit</button>
                            </div>
                          </form>
                         
                    </div>
                    <div class="container">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" id="adress"  value="0x41520Dce6108C288DE4682133C7E14f83C261E22" aria-label="Recipient's username" aria-describedby="button-addon2" readonly>
                        <button  onclick="myFunction()" class="btn cmn-btn btn-outline-secondary" type="button" id="button-addon2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-copy"></i></button>
                      </div>
                      <label>Rainbow Capitals USDT BEP20 wallet address</label>
  
                    </div>
                    
                    <!-- Modal -->
                    <div class="modal fade account-card__body" style="background-color: black;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog account-card__body" style="background-color: black;">
                        <div class="modal-content account-card__body" style="background-color: black;">
                          <div class="modal-header" style="background-color: black;">
                            <h5 class="modal-title" id="exampleModalLabel">Successfully copied our USDT BEP20 address</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body " style="background-color: black;">
                          
                              <li>Send USDT(BEP20) equivalent to the amount you want in your RC interest wallet</p>
                              <li>Forward screenshot of successful Transaction to our mail</p>
                              <li>rainbowarbritage@gmail.com</p>
                       
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-primary" href="mailto:rainbowarbritage@gmail.com">Mail</a>
                            <!-- <button type="button" class="btn btn-primary">Forward Mail</button> -->
                          </div>
                        </div>
                      </div>
                    </div>


                   
                      </div>

                    
                    </div>
                  </div>

                  <div class="row justify-content-center mb-none-30" style="margin-top: 50px;">
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-30" >
                      <div class="package-card text-center bg_img">
                        <h4 class="package-card__title base--color mb-2">RC representative</h4>
                      
                        <div class="package-card__range mt-5 base--color">Aden David</div>
                        <p class="base--color" style="font-size: smaller;">Certified by Rainbow Capitals</p>
                        <a href="https://wa.me/message/RQ5R7NNVD3SKC1" class="cmn-btn btn-md mt-4" target="_blank">Contact</a>
                      </div><!-- package-card end -->
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 mb-30" >
                      <div class="package-card text-center bg_img">
                        <h4 class="package-card__title base--color mb-2">RC representative</h4>
                      
                        <div class="package-card__range mt-5 base--color">Prince Oga</div>
                        <p class="base--color" style="font-size: smaller;">Certified by Rainbow Capitals</p>
                        <a href="https://wa.me/message/3VAGMWHUOPCKD1" class="cmn-btn btn-md mt-4" target="_blank">Contact</a>
                      </div><!-- package-card end -->
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 mb-30" >
                      <div class="package-card text-center bg_img">
                        <h5 class="package-card__title base--color mb-2">RC representative</h5>
                      
                        <div class="package-card__range mt-5 base--color">Kehinde Phillips</div>
                        <p class="base--color" style="font-size: smaller;">Certified by Rainbow Capitals</p>
                        <a href="https://wa.link/gg0r20" class="cmn-btn btn-md mt-4" target="_blank">Contact</a>
                      </div><!-- package-card end -->
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 mb-30" >
                      <div class="package-card text-center bg_img">
                        <h4 class="package-card__title base--color mb-2">RC representative</h4>
                      
                        <div class="package-card__range mt-5 base--color">Kafidipe Michael</div>
                        <p class="base--color" style="font-size: smaller;">Certified by Rainbow Capitals</p>
                        <a href="http://Wa.me/+2348099089265" class="cmn-btn btn-md mt-4" target="_blank">Contact</a>
                      </div><!-- package-card end -->
                    </div>
                    </div>
                </div>
              </div>
              <!-- account section end -->



  </div> <!-- page-wrapper end -->
    <!-- jQuery library -->
  <script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
  <!-- slick slider js -->
  <script src="/assets/js/vendor/slick.min.js"></script>
  <script src="/assets/js/vendor/wow.min.js"></script>
  <script src="/assets/js/contact.js"></script>
  <!-- dashboard custom js -->
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/vendor/bootstrap.min.js"></script>

  <script>
    function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("adress");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  /* Alert the copied text */
  
}
  </script>

  </body>
</html>