<%- include ('./partials/header2');%>
  <!-- header-section end  -->
    
    <!-- inner hero start -->
    <section class="inner-hero bg_img">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="page-title">All Plans</h2>
            <ul class="page-breadcrumb">
              <li><a href="/">Home</a></li>
              <li>Plan</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- inner hero end -->


    <!-- package section start -->
    <section class="pt-120 pb-120 bg_img" data-background="assets/images/bg/gem.jpg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-header">
              <h2 class="section-title"><span class="font-weight-normal">Investment</span> <b class="base--color">Plans</b></h2>
              <p>To make a solid investment, you have to know where you are investing. Find a plan which is best for you.</p>
            </div> 
          </div>
        </div><!-- row end -->
        <div class="row justify-content-center mb-none-30">
          <div class="col-xl-3 col-lg-4 col-md-6 mb-30" >
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Rookie</h4>
              <ul class="package-card__features mt-4">
                <li>$0.78 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $0.81</li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 8,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 11,600</p>
              <form action="<%=user.username%>/plan/rookie" method="POST">
                <button class="cmn-btn btn-md mt-4">Invest Now</button>
              </form>
              
            </div><!-- package-card end -->
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-30" >
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Student</h4>
              <ul class="package-card__features mt-4">
                <li>$2.53 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $1.83 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 18,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 26,000</p>
              <form action="<%=user.username%>/plan/student" method="POST">
                <button class="cmn-btn btn-md mt-4">Invest Now</button>
              </form>
              
            </div><!-- package-card end -->
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Artisans</h4>
              <ul class="package-card__features mt-4">
                <li>$4.64 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $3.36 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>

              </ul>
              
              <div class="package-card__range mt-5 base--color">NGN 33,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 47,850</p>
              <form action="<%=user.username%>/plan/artisans" method="POST">
                <button class="cmn-btn btn-md mt-4">Invest Now</button>
              </form>
            </div><!-- package-card end -->
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Job Holders</h4>
              <ul class="package-card__features mt-4">
                <li>$9.86 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $7.14 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 70,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 101,500</p>
              <form action="<%=user.username%>/plan/jobholders" method="POST">
                <button class="cmn-btn btn-md mt-4">Invest Now</button>
              </form>
            </div><!-- package-card end -->
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Civil</h4>
              <ul class="package-card__features mt-4">
                <li>$18.31 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $13.26 </li>
                <li>Total 50% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 130,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 188,500</p>
              <form action="<%=user.username%>/plan/civil" method="POST">
                <button class="cmn-btn btn-md mt-4">Invest Now</button>
              </form>
            </div><!-- package-card end -->
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Entrepreneur</h4>
              <ul class="package-card__features mt-4">
                <li>$42.27 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $30.61 </li>
                <li>Total 50% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 300,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 435,000</p>
              <form action="<%=user.username%>/plan/entrepreneur" method="POST">
                <button class="cmn-btn btn-md mt-4">Invest Now</button>
              </form>
            </div><!-- package-card end -->
          </div>


          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Professional</h4>
              <ul class="package-card__features mt-4">
                <li>$90.18 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $65.30 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 640,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 928,000</p>
              <form action="<%=user.username%>/plan/professional" method="POST">
                <button class="cmn-btn btn-md mt-4">Invest Now</button>
              </form>
            </div><!-- package-card end -->
          </div>
        
          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Capitalist</h4>
              <ul class="package-card__features mt-4">
                <li>$155.00 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $112.24 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 1,100,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 1,595,000</p>
              <form action="<%=user.username%>/plan/capitalist" method="POST">
                <button class="cmn-btn btn-md mt-4">Invest Now</button>
              </form>
            </div><!-- package-card end -->
          </div>
        
          
         
    
       
          
          
        </div><!-- row end -->
      </div>
    </section>
    <!-- package section end  -->


    
    <!-- footer section start -->
    <!-- <%- include ('./partials/footer');%> -->